<h1>Favourite Links</h1>
<div class="functions">
  <%= link_to("Add New Favourite Link", new_admin_link_path) %>
</div>

<table>
  <tr>
    <th>Reference</th>
    <th>text</th>
    <th></th>
    <th></th>
  </tr>
  
  <% @favourite_links.each do |link| %>
    <tr>
      <td><%= link.ref %></td>
      <td><%= link.text %></td>
      <td><%= link_to('edit',    edit_admin_link_path(link))  %></td>
      <td><%= link_to('delete', admin_link_path(link), :method => :delete, :confirm => "Are you sure you want to delete '#{h(link.ref)}'?")%></td>
    </tr>
  <% end %>
  
</table>
