<img alt="Home" src="/images/favourites.png" />
<h1 class="section_title favourites_title">Our favourite websites</h1>
<div class="two_columns_main_content fovourites">
  <div class="main_content left_column">
    <% @favourite_links_odd.each do |link|%>
      <h4><%=h link.text %></h4>
      <% if link.description.present? %>
        <p><%=h link.description %></p>
      <% end %>
      <p class="link_reference">
        <%= link_to link.ref.gsub('http://',''), link.ref %><br/>
      </p>
    <% end %>
  </div>

  <div class="main_content right_column">
    <% @favourite_links_even.each do |link|%>
      <h4><%=h link.text %></h4>
      <% if link.description.present? %>
        <p><%=h link.description %></p>
      <% end %>
      <p class="link_reference">
        <%= link_to link.ref.gsub('http://',''), link.ref %><br/>
      </p>
    <% end %>
  </div>
  <div class="cleaner"></div>
</div>