<ul class="<%= nav_class %>">
  <li><%= link_to 'home', root_path %></li>
  <li><%= link_to 'about us', about_us_path %></li>
  <li><%= link_to 'what we do', what_we_do_path %></li>
  <li><%= link_to 'stories', stories_path %></li>
  <li><%= link_to 'how you can help', how_you_can_help_path %></li>
  <li><%= link_to 'how to apply', how_to_apply_path %></li>
  <li><%= link_to 'contact us', contact_us_path %></li>
</ul>