<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <%= stylesheet_link_tag 'layout' %>
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'ie6' %>
  <![endif]-->
  <!--[if gt IE 6]>
    <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
  <title>The Extra Special Trust</title>
</head>
<body>
<div id="outer_page_wrapper">
<div id="inner_page_wrapper">
  <div id="header">
    <%= link_to image_tag('logo.png', :alt => 'The Extra Special Trust'), root_path, :title =>"Home page", :class => 'logo' %>
    <p id="header_strap">The ExtraSpecial Trust is there to help, with a little extra for 
    someone special, especially when there is no one else to do so.</p>
  </div>

  <div id="left_menu">
    <%= render :partial => '/layouts/side_menu', :locals => {:nav_class => 'nav_bar'} %>
  </div>
    
  <div id="body_section">
    <%= yield %>
  </div>  

  <div id="footer" class="clearfix">
    <%= render :partial => '/layouts/footer_menu', :locals => {:nav_class => 'nav_bar'} %>
    <p class="footnote">website designed & built by <a href="http://www.unboxedconsulting.com">unboxed consulting</a><br />
      Registered Charity: 1129928
    </p>
  </div>
</div>
</div>
</body>
</html>
