<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <%= stylesheet_link_tag 'layout' %>
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag 'ie6' %>
  <![endif]-->
  <!--[if gt IE 6]>
    <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
  
</head>
<body>
  <div id="header">
    <%= link_to "#{image_tag('logo.png', :class => 'logo' )}", root_path, :title =>"Home page" %>
    <%= image_tag('sign.png', :alt => 'Extra special trust is here to help, particularly when there is no one else to do so.')%>
  </div>

  <div id="left_menu">
    <%= render :partial => '/layouts/main_menu', :locals => {:nav_class => 'nav_bar'} %>
  </div>
    
  <div id="body_section">
    <%= yield %>
  </div>  

  <div id="footer" class="clearfix">
    <div id="cross_box"></div>
    <%= render :partial => '/layouts/main_menu', :locals => {:nav_class => 'nav_bar'} %>
    <p class="footnote">website designed & built by unboxed consulting <br />
      <% if params['action'] == 'index' %>
      Registered Charity: 1129928
      <% end %>
    </p>
  </div>
</body>
</html>
